In [7]:
import numpy as np
import pandas as pd
import category_encoders as ce

# make some data
df = pd.DataFrame({
 'color':["a", "b", "a", "c"], 
    'test': [6,3,5,3],
 'outcome':[1, 2, 3, 2]})

# split into X and y
X = df.iloc[:,:2]
y = df.drop('color', axis = 1)

# instantiate an encoder - here we use Binary()
ce_binary = ce.BinaryEncoder(cols = ['color'])

# fit and transform and presto, you've got encoded data
ce_binary.fit_transform(X, y)

   color_0  color_1  color_2  test
0        0        0        1     6
1        0        1        0     3
2        0        0        1     5
3        0        1        1     3

In [8]:
X

  color  test
0     a     6
1     b     3
2     a     5
3     c     3

In [12]:
d1 = {"Hello": "World"}
d2 = d1.copy()

d_list = [d1, d2]

In [14]:
for d in d_list:
    print(d)

{'Hello': 'World'}
{'Hello': 'World'}